#comments {
	background-color: white;
	padding: 20px;
	border: dotted;
	border-width: 1px;
	margin-top: 20px;
	margin-bottom: 10px;
	padding-top: 4%;
	padding-bottom: 1.5%;
}

#readArticleDiv h2, p, img {
	padding-bottom: 10px;
}

body {
	padding-bottom: 50px;
}

.form-horizontal {
	margin: 20px;
}

#deleteButton {
	float: right;
}

#padDescription {
	padding-top: 30px;
}